@model StudentManagementSystem.Models.Students

@{
    ViewBag.Title = "AddItem";
}

<h2>AddItem</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.division.DName)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.division.DName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.standard.Class)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.standard.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mname)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Mname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pcn)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Pcn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scn)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Scn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
